@media all and (min-width: 992px) {
  .ledger-tab {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 600px) {
  .sm-hidden {
    display: none;
  }
}

.hidden {
  display: none;
}

.modal .col {
  padding: 0.1rem;
}

.modal-body {
  max-height: 100%;
  overflow: auto;
}

.input-small {
  width: 200px;
  height: 40px;
}

p .badge {
  vertical-align: text-bottom;
}

img {
  border-radius: 0px;
  border: none;
}

h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}
